{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--CSS-->
    <link href="{% static 'css/style_profil.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--/CSS-->
    <title>{{name}} | Profil</title>
</head>

<body>
    <!--Container Base-->
    <div class="container profil">
        <form method="post">
            <div class="row">

                <!--FOTO-->
                <div class="col-md-4">
                    <div class="img ml-5">
                        <img src="{% static 'img/0.png' %}" alt="Foto" class="rounded-circle" title="{{name}}">
                    </div>
                </div>
                <!--/FOTO-->

                <!--Profil-->
                <div class="col-md-6">
                    <div class="Highlight">
                        <h5 title="{{name}}">
                            {{name}}
                        </h5>
                        <!--Tombol-->
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="profil-tab" data-toggle="tab" href="#profil" role="tab"
                                    aria-controls="profil" aria-selected="true">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="achivement-tab" data-toggle="tab" href="#achivement" role="tab"
                                    aria-controls="achivement" aria-selected="false">Achivement</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="biography-tab" data-toggle="tab" href="#biography" role="tab"
                                    aria-controls="biography" aria-selected="false">Biography</a>
                            </li>
                        </ul>
                        <!--/Tombol-->
                    </div>
                    <!--Data-->
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <!-----------------------------------(1)-------------------------------------->
                            <div class="tab-pane fade show active" id="profil" role="tabpanel"
                                aria-labelledby="profil-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Nama</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{name}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Asal</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Bogor</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Tanggal Lahir</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>28 Maret 1999</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Pekerjaan</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Pelajar/Mahasiswa</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Harapan</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Semoga Ilmu yang didapat dapat bermanfaat bagi saya dan orang lain</p>
                                    </div>
                                </div>
                            </div>
                            <!------------------------------------------------------------------------>
                            <!----------------------------------(2)------------------------------------>
                            <div class="tab-pane fade" id="achivement" role="tabpanel" aria-labelledby="achivement-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <p>None</p>
                                    </div>

                                </div>
                            </div>
                            <!------------------------------------------------------------------------>
                            <!----------------------------------(3)------------------------------------>
                            <div class="tab-pane fade" id="biography" role="tabpanel" aria-labelledby="biography-tab">
                                <div class="row scroll">
                                    <p>Nama saya {{name}} atau biasa dipanggil Elvin, lahir di Bogor, Jawa
                                        Barat tepatnya tanggal 28
                                        maret 1999. Saya merupakan anak pertama dari 3 bersaudara dari pasangan
                                        Jojok Sudarso dan Fitria
                                        Handayani. Ayah saya bekerja sebagai Kepala peneliti di salah satu institusi
                                        LIPI di Maninjau, sedangkan
                                        ibuku bekerja di Puskesmas Kec. Sukaraja, Kab. Bogor sebagai bidan disana.
                                        Saya memiliki saudara 1 orang
                                        laki-laki yang bernama Evandri Nur Fawwaz dan 2 orang saudari perempuan
                                        yakni Naila Salsabila Putri dan
                                        Nisa Akhira Humaira.<br>

                                        Saat ini saya sedang menyelesaikan studi S1 Teknik Komputer di salah satu
                                        Universitas swasta yang berada
                                        di kabupaten Bandung, yakni Telkom University. Saya merupakan lulusan SMA
                                        angkatan 2016 – 2017 di SMAN 7
                                        Bogor jurusan IPA. Saya memiliki keinginan menjadi seorang Robotic
                                        Engineering dalam suatu perusahaan
                                        luar, karena menurut pendapat saya pribadi peluang pekerjaan seorang Robotic
                                        Engineering di luar negeri
                                        sangat besar apalagi di era-Teknologi saat sekarang.<br>

                                        Saya menyukai semua hal yang berkaitan dengan IPA oleh sebab itu saat saya
                                        masih SMA saya mengikuti
                                        organisasi Karya Ilmiah Remaja hasil yang telah kami buat antara lain RoPOt
                                        (Robot Peracik Obat
                                        Otomatis) , Tesla Coil , Roket Air, dll.</p>
                                </div>
                            </div>
                            <!------------------------------------------------------------------------>
                        </div>
                    </div>
                    <!--/Data-->
                </div>
                <!--/Profil-->
            </div>
        </form>
    </div>
    <div class="container sosialmedia">
        <p>Contact Me</p>
        <a href="https://www.facebook.com">Facebook</a><br>
        <a href="https://github.com/">Github</a><br>
        <a href="https://id.linkedin.com/">Linkedln</a>
    </div>
    <!--/Container Base-->


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>