body{
    background-color: #7ab2ee !important;
}

.profil{
    background-color: rgb(245, 245, 245);
    padding: 3%;
    margin:3% auto;
    border-radius: 10px;
    height: 500px ;
    width: 900px ;
    
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 70%;
    height: 100%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.Highlight h5{
    color: #333;
}

.Highlight .nav-tabs{
    margin-bottom:5%;
}
.Highlight .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.Highlight .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}

.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
    width: 300px;
}

#container_profil{
    background-color:#212529b8
}

.scroll{
    overflow: scroll;
    height: 320px ;
    width: 420px ;
}

.sosialmedia{
    margin-left: 9rem!important;
    margin-top: -15rem!important;
}

